
<script type="text/javascript">
    require.config.modulename="index";
    require.config.controllername="user";
    require.config.actionname="index";
    require.config.jsname="backend/auth/user";
    require.config.moduleurl="../";
    //require.config.language="zh-cn";
    //require.config.referer=null;
</script>
<div id="main" role="main">
    <div class="tab-content tab-addtabs">
        <div id="content">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <!-- RIBBON -->
                    <div id="ribbon">
                        <ol class="breadcrumb pull-left">
                            <li><a href="/index/home" class="addtabsit"><i class="fa fa-dashboard"></i> 控制台</a></li>
                        </ol>
                        <ol class="breadcrumb pull-right">
                            <li><a href="javascript:;" data-url="auth">权限管理</a></li>
                            <li><a href="javascript:;" data-url="auth/admin">用户管理</a></li>
                        </ol>
                    </div>
                    <!-- END RIBBON -->
                    <div class="content">
                        <div class="panel panel-default panel-intro">

                            <div class="panel-body">
                                <div id="myTabContent" class="tab-content">
                                    <div class="tab-pane fade active in" id="one">
                                        <div class="widget-body no-padding">
                                            <div id="toolbar" class="toolbar">
                                                <a href="javascript:;" class="btn btn-primary btn-refresh" ><i class="fa fa-refresh"></i> </a> <a href="javascript:;" class="btn btn-success btn-add" ><i class="fa fa-plus"></i> 添加</a> <a href="javascript:;" class="btn btn-danger btn-del btn-disabled disabled" ><i class="fa fa-trash"></i> 删除</a>                    </div>
                                            <table id="table" class="table table-striped table-bordered table-hover" width="100%">

                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
