<div id="main" role="main">
    <div class="tab-content tab-addtabs">
        <div id="content">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <section class="content-header hide">
                        <h1>
                            控制台<small>Control panel</small>
                        </h1>
                    </section>
                    <!-- RIBBON -->
                    <div id="ribbon">
                        <ol class="breadcrumb pull-left">
                            <li><i class="fa fa-dashboard"></i> 控制台</li>
                        </ol>
                    </div>
                    <!-- END RIBBON -->
                    <div class="content">
                        <div class="alert alert-info" style="margin-bottom: 0!important;">
                            <h3><i class="fa fa-rocket"></i> &nbsp;&nbsp;欢迎光临 百合婚礼CRM系统</h3>
                        </div>

                    <div class="panel panel-default panel-intro">
                        <div class="panel-body">
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade active in" id="one">

                                    <div class="row" style="margin-top:15px;">

                                        <div class="col-lg-12">
                                            <h4>常用功能</h4>
                                        </div>
                                        <div class="col-xs-6 col-md-3">
                                            <div class="panel bg-blue">
                                                <div class="panel-body">
                                                    <div class="panel-content">
                                                        <h3 class="no-margins"><a href="/Clue/myClue" class="addtabsit"  style="color:#fff;">我的线索</a> </h3>
                                                        <div class="stat-percent font-bold text-gray"><i class="fa fa-commenting"></i> 我的线索</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-6 col-md-3">
                                            <div class="panel bg-aqua-gradient">
                                                <div class="panel-body">
                                                    <div class="ibox-content">
                                                        <h3 class="no-margins"><a href="/Clue/returnedClue" class="addtabsit"  style="color:#fff;"> 退回的线索</a></h3>
                                                        <div class="font-bold text-navy"><i class="fa fa-industry"></i> 退回的线索</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-6 col-md-3">
                                            <div class="panel bg-green-gradient">
                                                <div class="panel-body">
                                                    <div class="ibox-content">
                                                        <h3 class="no-margins"><a href="/Clue/discardedClue" class="addtabsit"  style="color:#fff;"> 废弃的线索</a></h3>
                                                        <div class="stat-percent font-bold text-gray"><i class="fa fa-industry"></i> 废弃的线索</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-6 col-md-3">
                                            <div class="panel bg-purple-gradient">
                                                <div class="panel-body">
                                                    <div class="ibox-content">
                                                        <h3 class="no-margins"><a href="/User/profile" class="addtabsit" style="color:#fff;"> 个人信息修改</a></h3>
                                                        <div class="font-bold text-navy"><i class="fa fa-cogs"></i> 个人信息修改</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
