{{template "layout/header.html"}}
<body class="hold-transition skin-blue sidebar-mini fixed" id="tabs">
<div class="wrapper">
    {{template "layout/top.html"}}
    <!-- Left side column. contains the logo and sidebar -->
    {{template "layout/left.html"}}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper tab-content tab-addtabs">

    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer hide">
        <div class="pull-right hidden-xs">
        </div>
        <strong>Copyright &copy; 2017-2019 <a href="/">百合婚礼CRM</a>.</strong> All rights
        reserved.
    </footer>
</div>
<!-- ./wrapper -->
<!-- end main content -->
{{template "layout/footer.html"}}

